# Obtén y conoce tus datos



### 1. Importa las librerías necesarias

In [2]:
import numpy as np
import pandas as pd
import random

### 2. Importa el dataset de este [enlace](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) y guárdalo en una variable llamada users. Usa pd.read_csv()

In [290]:
users=pd.read_csv("user.csv")
print(users)

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]

### 3. Muestra las 25 primeros registros

In [291]:
print(users[1:26:1])

   user_id|age|gender|occupation|zip_code
1                      2|53|F|other|94043
2                     3|23|M|writer|32067
3                 4|24|M|technician|43537
4                      5|33|F|other|15213
5                  6|42|M|executive|98101
6              7|57|M|administrator|91344
7              8|36|M|administrator|05201
8                    9|29|M|student|01002
9                    10|53|M|lawyer|90703
10                    11|39|F|other|30329
11                    12|28|F|other|06405
12                 13|47|M|educator|29206
13                14|45|M|scientist|55106
14                 15|49|F|educator|97301
15            16|21|M|entertainment|10309
16               17|30|M|programmer|06355
17                    18|35|F|other|37212
18                19|40|M|librarian|02138
19                20|42|F|homemaker|95660
20                   21|26|M|writer|30068
21                   22|25|M|writer|40206
22                   23|30|F|artist|48197
23                   24|21|F|artist|94533
24                 25|39|M|engineer|55107
25                 26|49|M|engineer|21044

### 4. Muestra las 25 primeros registros de otra forma

In [292]:
print(users.head(25))

   user_id|age|gender|occupation|zip_code
0                 1|24|M|technician|85711
1                      2|53|F|other|94043
2                     3|23|M|writer|32067
3                 4|24|M|technician|43537
4                      5|33|F|other|15213
5                  6|42|M|executive|98101
6              7|57|M|administrator|91344
7              8|36|M|administrator|05201
8                    9|29|M|student|01002
9                    10|53|M|lawyer|90703
10                    11|39|F|other|30329
11                    12|28|F|other|06405
12                 13|47|M|educator|29206
13                14|45|M|scientist|55106
14                 15|49|F|educator|97301
15            16|21|M|entertainment|10309
16               17|30|M|programmer|06355
17                    18|35|F|other|37212
18                19|40|M|librarian|02138
19                20|42|F|homemaker|95660
20                   21|26|M|writer|30068
21                   22|25|M|writer|40206
22                   23|30|F|artist|48197
23                   24|21|F|artist|94533
24                 25|39|M|engineer|55107

### 5. Muestra los últimos 25 registros

In [293]:
print(users.tail(5))
print(users.iloc[-5:])
print(users[-5:])

    user_id|age|gender|occupation|zip_code
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841
    user_id|age|gender|occupation|zip_code
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841
    user_id|age|gender|occupation|zip_code
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

### 6. Cuántos registros hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

In [294]:
print(users.count())
print(len(users))

user_id|age|gender|occupation|zip_code    943
dtype: int64
943

### 7. Cuántas columnas hay en total en este dataset?
Resuélvelo de al menos dos formas diferentes

In [295]:
print(users.shape[1])

1

In [296]:
users2 = pd.read_csv('user.csv', sep='|')
users2.to_csv('user_comas.csv', sep=',', index=False)
print(users2.shape[1])

5

### 8. Haz un print de cada uno de los nombres de las columnas

In [297]:
print(users2.columns)
print("--------")
for columna in users2.columns:
    print(columna)
print("--------")
for indice, columna in enumerate(users2.columns):
    print(indice,columna)
print("--------")

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')
--------
user_id
age
gender
occupation
zip_code
--------
0 user_id
1 age
2 gender
3 occupation
4 zip_code
--------

### 9. Accede al índice, a los nombres de las columnas y a los valores por separado

In [298]:
#users2.index
#users2.columns
print(users2.index)
print("--------")

for i,columna in enumerate(users2):
    print(columna)
print("--------")

print(users2.columns)
print("--------")

print(users2.values)
print("--------")

print(users2[1:5])

RangeIndex(start=0, stop=943, step=1)
--------
user_id
age
gender
occupation
zip_code
--------
Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')
--------
[[1 24 'M' 'technician' '85711']
 [2 53 'F' 'other' '94043']
 [3 23 'M' 'writer' '32067']
 ...
 [941 20 'M' 'student' '97229']
 [942 48 'F' 'librarian' '78209']
 [943 22 'M' 'student' '77841']]
--------
   user_id  age gender  occupation zip_code
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### 10. Cuál es el tipo de cada columna del dataset?
Hazlo de dos formas diferentes

In [299]:
print(users2['user_id'].dtype)
print(users2['age'].dtype)
print(users2['gender'].dtype)
print(users2['occupation'].dtype)
print(users2['zip_code'].dtype)

print(users2.dtypes)

int64
int64
object
object
object
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### 11. Haz un print solo de la columna de occupation
Hazlo de dos formas diferentes

### 12. ¿Cuántas profesiones diferentes hay? ¿Y personas por profesión?

In [300]:
#print(users2['occupation'].count())
print(f"TOTAL PROFESIONES: {users2['occupation'].nunique()}")
print(users2['occupation'].value_counts())

TOTAL PROFESIONES: 21
occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### 13. ¿Cuál es la profesión más común?

In [301]:
print(users2['occupation'].value_counts().idxmax())

df=users2['occupation'].value_counts().idxmax()
print(df)

df=users2['occupation'].value_counts()
print(df.idxmax())

student
student
student

### 14. Obtén un resumen de las principales medidas estadísticas de las variables numéricas.  Usa describe()

In [302]:
users2_numericas = users2.select_dtypes(include='number')
print(users2_numericas.describe().round(2))

       user_id     age
count   943.00  943.00
mean    472.00   34.05
std     272.36   12.19
min       1.00    7.00
25%     236.50   25.00
50%     472.00   31.00
75%     707.50   43.00
max     943.00   73.00

### 15. Obtén un resumen de las principales medidas estadísticas de todas las variables.  Usa describe()

In [303]:
print(users2.describe())

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### 16. Obtén un resumen de las principales medidas estadísticas de solo la columna occupation.  Usa describe()

In [304]:
users2["occupation"].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### 17. ¿Cuál es la edad media?

In [305]:
users2["age"]
edad_media=users2.age.median()
print(edad_media)

31.0

### 18. ¿Cuál es la edad menos frecuente?

In [306]:
print(users2['age'].value_counts())
print(users2['age'].value_counts().idxmin())

age
30    39
25    38
22    37
28    36
27    35
      ..
7      1
66     1
11     1
10     1
73     1
Name: count, Length: 61, dtype: int64
7